torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0

timm==0.6.11
wandb==0.13.5
ftfy==6.1.1

regex
easydict
pyyaml
textaugment
ipdb

torchmetrics
matplotlib
jupyter
ipykernel
transformers>=4.44.0
sentencepiece
Pillow
pytest
